.card-img-right {
    height: 100%;
    border-radius: 7px;
}
.poster-cardS {
    border-radius: 7px;
}
.flex-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}
.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .3); }

.align-items-start {
    align-items: flex-start!important;
}
.flex-column {
    flex-direction: column!important;
}
.d-flex {
    display: flex!important;
}
.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.card {
    word-wrap: break-word;
    position: relative;
    display: flex;
    border: 1px solid rgba(0,0,0,.125);
    height: 300px;
}
.col-md-6 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
ul, li {
    -webkit-padding-start: 5px;
    list-style: none;
}
.item-poster-cardS {
    display: flex;
    margin-top: 16px;
    border-radius: 10px;
    width: 460px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}
.image-contentS {
    width: 185px;
    height: 278px;
    line-height: 0;
    overflow: hidden;
}
.poster-imageS {
    width: auto;
    height: auto;
    max-width: 185px;
    max-height: 278px;
    opacity: 1;
    outline: none;
    border: 0;
    border-radius: 10px;
}
.infoS {
    width: 275px;
    height: 278px;
    position: relative;
    box-sizing: border-box;
    padding: 10px 16px 16px 16px;
    overflow: hidden;
}
.wrapperS {
    display: flex;
}
.overviewS {
    position: relative;
    white-space: normal;
    color: #4d4d4d;
    font-size: 0.9em;
    line-height: 1.4em;
    margin-top: 20px;
    margin-bottom: 5px;
    font-weight: 300;
    overflow: hidden;
}
.kS {
    font-size: 0.9em;
    font-weight: 400;
}
.view-moreS {
    border-top: 1px solid #e3e3e3;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 16px;
    margin-bottom: 0;
    width: 100%;
    line-height: 1.2em;
    display: flex;
}
.flexS {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.title-resourceS {
    width: 100%;
    display: block;
    font-weight: 600;
    font-size: 1.1em;
    line-height: 1.1em;
}
.overviewS span{
    font-weight: 500;
}
.spanS {
    color: rgba(0, 0, 0, 0.6);
    line-height: 1em;
    font-size: 85%;
}
.item-poster-cardS:hover .image-contentS img {
    transform: scale(1.1);
}
.infoS p:after {
    content: '';
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 5.2em;
    height: 1.6em;
    background: linear-gradient(to left, #f4f4f4, rgba(255, 255, 255, 0));
}
.card-icon {
    width: 20px;
    height: 20px;
}
.flexS a {
    color: #000;
    -webkit-transition: ease-in-out color .15s;
    -o-transition: ease-in-out color .15s;
    transition: ease-in-out color .15s;
}
.flexS a:hover {
    color: #999;
    text-decoration: none;
}