.btn {
  padding: 0 0.75rem;
}
.btn-outline-success {
  color: mediumorchid;
  border-color: mediumorchid;
}
.btn-outline-success:focus,
.btn-outline-success.focus {
  box-shadow: 0 0 0 0.2rem mediumorchid;
}
.btn-outline-success:not(:disabled):not(.disabled):active,
.btn-outline-success:not(:disabled):not(.disabled).active,
.show > .btn-outline-success.dropdown-toggle {
  color: #fff;
  background-color: mediumorchid;
  border-color: mediumorchid;
}
.btn-outline-success:hover {
  color: #fff;
  background-color: mediumorchid;
  border-color: mediumorchid;
}
.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #f8d7da;
  outline: 0;
  box-shadow: 0 0 0 0.1rem mediumorchid;
}
.search-line {
  height: 30px;
}
.container {
  max-width: 1120px;
}
  .flex-md-row {
    flex-direction: row!important;
  }
/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}
.sticky-top {
  position: sticky;
  top: 0;
  z-index: 1020;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}


/*
 * Extra utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }
*, ::after, ::before {
  box-sizing: border-box;
}
.logo {
  animation: logo-spin infinite 20s linear;
}
@keyframes logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.test-button{
    color: mediumorchid;
    max-height: 30px;
}
.center {
    vertical-align: middle;
}
.modal-header {
    padding: 0;
}
a:not([href]):not([tabindex]) {
  color: #999999;
}
a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
  color: #ffffff;
  text-decoration: none;
}
.dropdown-item:hover,
.dropdown-item:focus {
  background-color: black;
}