body {
    margin: 0;
    padding: 0;
    font-family: "Gotham Pro", sans-serif;
    background: url(../images/background.jpg) fixed;
    background-size: cover;
    flex-direction: column;
    display: flex;
    height: auto;
    min-height: 100%;
}
.mediaS {
    min-height: 1000px;
    background: #f4f4f4;
    width: 1000px;
    height: auto;
    left: 0;
    right: 0;
    position: relative;
    font-family: "Gotham Pro", sans-serif;
    margin: auto;
    box-shadow: 0 2px 5px #f4f4f4;
}
.all-film-card {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}

.alert-danger {
    color: #431466;
    background-color: #efaeed;
    border-color: #ed9aea;
}
.site-aS {
    color: #999;
}
.site-aS:hover {
    color: #fff;
    text-decoration: none;
}