.custom-select:focus {
    border-color: #999999;
    outline: 0;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075), 0 0 5px #999999;
}
.input-group-text {
    background-color: #000000;
    color: #999999;
}
select option{
    align-items: center;
    padding: 0.375rem 0.75rem;
}
.tv-menu-con {
    z-index: 1;
    border: 1px solid #999999;
    border-radius: 5px;
    padding: 15px;
}
.tv-menu-content {
    width: 250px;
}