.ec-img {
    border-left: 1px solid #999999;
    min-height: 100px;
    display: flex;
}
.ec-img img {
    width: 100%;
    height: auto;
}
.ec-info {
    min-height: 100px;
}
.ec-poster {
    max-height: 125px;
    border-radius: 3px;
    border: 1px solid #999999;
    margin-top: 5px;
    margin-bottom: 5px;
}
.nec-poster {
    overflow: hidden;
    max-height: 125px;
    border-radius: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.nec-poster img{
    border-radius: 3px;
    border: 1px solid #999999;
}
.episode-card {
    height: 125px;
    display: flex;
    margin-top: 16px;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}
.serial-header {
    width: 100%;
    border-bottom: 2px solid #000000;
    padding: 15px;
}
.sh-img{
    border-radius: 3px;
    border: 1px solid #999999;
    height: auto;
    width: 100%;
}
.serial-body {

}
.serial-genre {
    color: #999999;
    font-size: 0.9rem;
    font-weight: 300;
}
.share-info {
    font-size: 0.7rem;
    padding-right: auto;
    padding-left: auto;
}
.share-img {
    width: 50px;
    height: 50px;
}